---
layout: archive
---

<div id="encrypted_content">
  <form id="encrypt_form" action="#" method="post" style="width: 100%; display: inline-flex; justify-items: center; column-gap: 1rem;">
    <input id="encrypt_password"
           type="password"
           name="password"
           placeholder="비밀번호를 입력하세요 (책 저작권 보호)"
           autofocus />
    <input type="submit" value="입력"/>
  </form>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.9-1/crypto-js.js"></script>
  <script>
    document.getElementById('encrypt_form').addEventListener('submit', function(e) {
      e.preventDefault();
      var passphrase = document.getElementById('encrypt_password').value,
          encryptedMsg = '{{ page.encrypted }}',
          encryptedHMAC = encryptedMsg.substring(0, 64),
          encryptedHTML = encryptedMsg.substring(64),
          decryptedHMAC = CryptoJS.HmacSHA256(encryptedHTML, CryptoJS.SHA256(passphrase).toString()).toString();

      if (decryptedHMAC !== encryptedHMAC) {
        alert('잘못된 비밀번호입니다.');
        return;
      }

      var plainHTML = CryptoJS.AES.decrypt(encryptedHTML, passphrase).toString(CryptoJS.enc.Utf8);
      document.getElementById('encrypted_content').innerHTML = plainHTML;
    })
  </script>
</div>